# IMPORTING LIBRARIES

In [25]:
import pandas as pd 
import numpy as np

# DATA LOADING

***Loading Boston Housing dataset and displaying first 5 rows***

In [2]:
data = pd.read_csv("C:/Users/HP/Desktop/BostonHousing.csv")

In [3]:
data.head()

,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,b,lstat,medv
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2

# DATA EXPLORATION

***Checking Shape***

In [4]:
data.shape

(506, 14)

***Columns names***

In [5]:
data.columns

Index(['crim', 'zn', 'indus', 'chas', 'nox', 'rm', 'age', 'dis', 'rad', 'tax',
       'ptratio', 'b', 'lstat', 'medv'],
      dtype='object')

***Data Types***

In [6]:
data.dtypes

crim       float64
zn         float64
indus      float64
chas         int64
nox        float64
rm         float64
age        float64
dis        float64
rad          int64
tax          int64
ptratio    float64
b          float64
lstat      float64
medv       float64
dtype: object

***Statical Summary***

In [7]:
data.describe()

,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,b,lstat,medv
count,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000
mean,3.613524,11.363636,11.136779,0.069170,0.554695,6.284634,68.574901,3.795043,9.549407,408.237154,18.455534,356.674032,12.653063,22.532806
std,8.601545,23.322453,6.860353,0.253994,0.115878,0.702617,28.148861,2.105710,8.707259,168.537116,2.164946,91.294864,7.141062,9.197104
min,0.006320,0.000000,0.460000,0.000000,0.385000,3.561000,2.900000,1.129600,1.000000,187.000000,12.600000,0.320000,1.730000,5.000000
25%,0.082045,0.000000,5.190000,0.000000,0.449000,5.885500,45.025000,2.100175,4.000000,279.000000,17.400000,375.377500,6.950000,17.025000
50%,0.256510,0.000000,9.690000,0.000000,0.538000,6.208500,77.500000,3.207450,5.000000,330.000000,19.050000,391.440000,11.360000,21.200000
75%,3.677083,12.500000,18.100000,0.000000,0.624000,6.623500,94.075000,5.188425,24.000000,666.000000,20.200000,396.225000,16.955000,25.000000
max,88.976200,100.000000,27.740000,1.000000,0.871000,8.780000,100.000000,12.126500,24.000000,711.000000,22.000000,396.900000,37.970000,50.000000

***Checking Missing Values***

In [8]:
data.isnull().sum()

crim       0
zn         0
indus      0
chas       0
nox        0
rm         0
age        0
dis        0
rad        0
tax        0
ptratio    0
b          0
lstat      0
medv       0
dtype: int64

# DATA MANIPULATION

***Adding a new column to the DataFrame that categorizes the 'medv' column into 'Low' , 'Medium' and 'High'.***

In [9]:
data['medv'] = pd.cut(data['medv'], bins=[0,15,30,50], labels=['Low', 'Medium', 'High'])

In [16]:
data.head()

,crim,zn,indus,chas,nox,rooms,age,dis,rad,tax,ptratio,b,lstat,medv
0,0.00632,18.0,2.31,No,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,Medium
1,0.02731,0.0,7.07,No,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,Medium
2,0.02729,0.0,7.07,No,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,High
3,0.03237,0.0,2.18,No,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,High
4,0.06905,0.0,2.18,No,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,High

***Replacing the 'chas' column with 'Yes' if chas = 1 and 'No' if chas = 0.***

In [10]:
data['chas'] = data['chas'].replace({1:'Yes',0:'No'})

In [17]:
data.head()

,crim,zn,indus,chas,nox,rooms,age,dis,rad,tax,ptratio,b,lstat,medv
0,0.00632,18.0,2.31,No,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,Medium
1,0.02731,0.0,7.07,No,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,Medium
2,0.02729,0.0,7.07,No,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,High
3,0.03237,0.0,2.18,No,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,High
4,0.06905,0.0,2.18,No,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,High

***Renaming 'rm' to 'rooms'.***

In [12]:
data = data.rename(columns={'rm':'rooms'})

In [18]:
data.head()

,crim,zn,indus,chas,nox,rooms,age,dis,rad,tax,ptratio,b,lstat,medv
0,0.00632,18.0,2.31,No,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,Medium
1,0.02731,0.0,7.07,No,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,Medium
2,0.02729,0.0,7.07,No,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,High
3,0.03237,0.0,2.18,No,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,High
4,0.06905,0.0,2.18,No,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,High

# DATA ANALYSIS

***Average number of rooms per dwelling for each category of medv.***

In [20]:
room_medv = data.groupby('medv')['rooms'].mean()

In [21]:
room_medv

medv
Low       5.878371
Medium    6.145129
High      7.293524
Name: rooms, dtype: float64

***Percentage of houses that bound the Charles River.***

In [14]:
charles_percentage = data['chas'].value_counts(normalize=True)*100

In [15]:
charles_percentage

No     93.083004
Yes     6.916996
Name: chas, dtype: float64

# NUMPY OPERATION

***Converting 'age' column to a NumPy array***

***Computeing the mean and standard deviation***

In [22]:
age_array = data['age'].values

mean_age = np.mean(age_array)
std_age = np.std(age_array)

In [23]:
print("Mean:",mean_age)
print("Standard Deviation:",std_age)

Mean: 68.57490118577076
Standard Deviation: 28.121032570236867

***Normalizing the array.***

In [24]:
normalized_age = (age_array - mean_age)/std_age
print("Normalized Age Array:",normalized_age)

Normalized Age Array: [-0.12001342  0.36716642 -0.26581176 -0.80988851 -0.51117971 -0.35115713
 -0.07022862  0.97880825  1.11749449  0.61609042  0.91479923  0.50940871
 -1.0517004  -0.24091936  0.56630562 -0.42939039 -1.39663795  0.46673602
 -1.13704577  0.03289704  1.0499294   0.73344031  0.82234174  1.11749449
  0.90768711  0.60897831  0.77255694  0.71921608  0.91835528  0.66587522
  0.90768711  1.11749449  0.47740419  0.93969163  1.00725671 -0.0133317
 -0.25514359 -0.96279897 -1.36463343 -1.66334224 -1.87670567 -2.33543704
 -2.20386293 -2.20741899 -1.01613983 -1.23661537 -1.25439566  0.60186619
  0.9503598  -0.23380725 -0.81344457 -0.19824667 -1.68823464 -1.67756646
 -0.74587948 -1.65978618 -1.16905029 -0.99835954 -1.400194   -0.76010371
 -0.08445284  0.88279471 -0.02755593 -0.89523388 -0.32270868 -1.80558452
 -1.33262892 -1.67756646 -1.12993366 -1.26506383 -2.20386293 -1.81625269
 -2.16119024 -2.21808716 -2.22519927 -0.83833697  0.2106999  -0.80988851
 -0.52895999 -1.13704577 -1.24728354  0.06490156 -1.29351229 -0.777884
 -0.73165525 -0.44361462 -0.83478091 -0.41872222  0.63031465 -0.19469062
 -0.0880089   0.18936356 -0.53251605 -1.41086218  0.3102695  -0.38316165
  0.0364531   0.26404076 -1.1263776  -0.21602696  0.40272699  0.09690607
  0.59831014  0.66943128  0.76188877  1.0001446   0.82945385  0.59119802
  1.01436883  0.80456145 -0.50406759  0.46317996  0.86501442  0.95391585
  0.55563745  0.69787974  0.13957876  0.49874053  0.1609151  -0.12001342
  0.04000916  0.55208139  0.86501442  1.01081277  0.96814008  0.70499185
  0.96102797  0.9752522   1.0748218   0.92902345  1.07837786  1.03570517
  1.04281728  0.95391585  1.06059757  1.05348546  0.88635077  1.06059757
  1.05348546  1.04281728  0.88990683  1.11749449  1.11749449  1.11749449
  1.03926123  1.11749449  1.11749449  0.96458403  0.89701894  0.93613557
  1.02148094  1.11749449  0.69076762  1.06415363  0.9752522   0.49874053
  0.90413105  1.025037    1.11749449  1.11749449  0.85434625  0.79033722
  1.05348546  0.900575    0.8258978   0.86857048  0.98236431  0.37783459
  0.97880825  0.94680374  0.9254674   1.02148094  0.70854791  0.55208139
  0.00444859 -1.26150777 -0.76010371  0.17158327  0.20714385 -0.3618253
  0.52363293 -0.22669513  0.84012202  0.96102797  0.75477665  0.00800464
 -0.53251605 -0.9770232  -1.40375006 -1.05525646 -1.67401041 -1.34329709
 -1.50331966 -2.08651304 -1.77002395 -1.3006244  -1.2259472  -1.13704577
 -1.0765928  -1.89448595 -1.94427075 -1.07303674 -1.88026172 -1.25795172
 -1.30418046 -1.64556195 -0.57163268  0.14669087 -0.3369329   1.11749449
  0.83656597  0.71210397 -0.52540394 -1.28995623 -2.0900691  -0.93079446
 -0.44717068  0.58764196  0.89701894  0.84723414  0.70854791  0.80811751
  0.32449373  0.43473151  0.34583008  0.51296476  0.63742676  0.40272699
 -1.83403298 -1.67756646 -0.01688776  0.29604527  0.16802722  0.06490156
 -0.07378467 -0.25158753  0.28182105  0.10757424 -1.78069212 -0.93790657
 -0.50762365 -0.12356947 -0.55740845 -2.16119024  0.28182105  0.05778944
 -1.19749874  0.37783459 -0.69253862 -1.81625269 -1.97627527 -2.12207361
 -2.19675081 -2.1398539  -1.3006244  -1.75935578 -1.22239114  0.65165099
  1.11749449  1.11749449  0.47029208  0.74055242  0.81522962  0.92191134
  0.81878568 -0.20535879  0.56986168 -0.05600439 -0.56807662 -0.25158753
 -0.94146263 -1.85892538 -0.35115713 -0.59652508 -1.26861989 -0.91657023
 -0.69609468 -1.45709092 -1.29706835 -1.29351229 -0.14490582 -1.11570943
 -0.67120228 -1.55666052 -1.69890281 -1.30418046 -1.31840469 -1.3255168
 -0.81700063 -1.62422561 -1.44642275 -1.45353486 -1.60644532 -1.78424818
 -0.93435051 -1.33262892 -0.62497354 -0.37604953 -1.72379521 -2.08295698
 -0.7529916  -1.0019156  -1.78424818 -1.80914058 -0.9770232  -0.37249348
  0.11824242  0.0613455   0.49518448  0.28893316 -1.09437309 -0.56096451
  0.776113    0.50585265  0.66587522  0.32449373  0.52007688  0.1111303
 -0.04889227 -0.34760108 -0.57874479 -0.50762365 -0.66409017  0.20358779
 -1.01258377 -1.9158223  -1.41086218 -0.88456571 -1.52109995 -1.82692087
 -1.29351229 -1.42864246 -1.61000138 -1.08370491 -1.06948069 -1.21172297
 -0.79210822 -0.31915262 -1.11215337 -0.82411274 -0.35826925 -0.68542651
 -0.31559656 -0.43294645 -1.43931063 -0.71387497 -0.57874479 -1.45353486
 -1.38241372 -1.21172297 -0.85967331 -1.16193817 -1.78069212 -1.15482606
 -1.65978618 -1.74513155  1.025037    0.79744934  0.52718899  0.45251179
  0.69076762  0.8010054   0.98236431  0.72632819  0.50940871  0.68721157
  0.81167357  1.11749449  1.11749449  1.00370066  1.02859306  1.11749449
  0.74766454  1.11749449  1.11749449  1.04281728  0.87923865  1.0748218
  0.98236431  1.11749449  0.82945385  1.08548997  1.11749449  1.11749449
  0.80456145  1.0499294   1.11749449  0.74410848  1.11749449  1.07837786
  1.01081277  0.49518448  1.01081277  0.85434625  0.92902345  1.0748218
  0.9752522   1.07837786  1.11749449  0.32804979  1.11749449  1.11749449
  1.11749449  0.9752522   0.59831014  1.11749449  1.11749449  1.11749449
  1.04281728  1.11749449  1.11749449  1.11749449  1.11749449  1.11749449
  1.11749449  1.11749449  0.79033722  0.72988425  1.11749449  0.28182105
  1.11749449  0.9503598   0.67654339  0.58764196  0.07201367  0.95391585
 -0.31559656  0.3600543   0.33871796  0.96102797  0.62320254  0.91479923
  0.22136807  0.68721157  0.93969163  0.9254674   0.87923865  1.11749449
  0.68721157  0.900575    0.84723414  1.01792488  1.11749449  1.11749449
  0.99658854  0.93257951  0.98947643  0.99658854  1.07126574  1.05704151
  0.85434625  1.05348546  0.8258978   1.09260208  0.90768711  0.63742676
  0.68721157  0.41695122  0.53785716  0.56274956  0.76188877  0.70499185
  0.51296476  0.75833271 -0.1129013  -0.72454314  0.57341774  0.92191134
  0.0862379  -0.42227828  0.54852534  0.78678117  0.22848019 -0.03466804
  0.95391585  1.025037    0.88990683  1.02148094  1.0001446   0.69076762
 -0.1377937   0.22492413  0.29960133 -1.00547166 -0.94857474 -0.59296902
  0.39917093 -0.54674028  0.85790231  1.05704151  1.04637334  1.0748218
  0.53074505 -0.51829182 -0.92368234 -1.41441823  0.15380299  0.07201367
 -0.11645736  0.17513933  0.39561488  0.01867281  0.28893316  0.79744934
  0.73699637  0.43473151]